.expensesPage {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1 1 auto;
}

.left {
    display: flex;
    align-items: center;
    padding: 10px;
}

.left a {
    font-size: 2rem;
    font-weight: 500;
}

.left h1 {
    margin-left: 10px;
}

.chartContainer {
    flex: 1 1 calc(100% - 300px);
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.chart {
    flex: 1 1 auto;
    transition: .3s;
    margin: 5px 10px;
    margin-right: 0;
    background-color: var(--secondary-background-color);
}

.expensesDetail {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
}

.addExpensesContainer form {
    width: 300px;
}

.expensesContainer,
.incomesContainer {
    border-radius: 3px;
    min-height: 300px;
    flex: 1 1;
    padding: 10px 20px;
    margin: 5px 10px;
    background-color: var(--secondary-background-color);
}

.expenses,
.incomes {
    list-style: none;
    flex: 1 1;
}

.expensesContainer h1,
.incomesContainer h1,
.addExpensesContainer form h1 {
    color: var(--secondary-color);
}

.addExpensesContainer {
    border-radius: 3px;
    margin: 5px 10px;
    padding: 10px 20px;
    background-color: var(--secondary-background-color);
}

.expenseDetail,
.incomeDetail {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-text-color);
}

@media screen and (max-width: 480px) {
    .main {
        flex-direction: column;
    }
    .addExpensesContainer form {
        width: 100%;
    }
    .chartContainer {
        width: 100%;
        flex: unset;
        height: calc(100vh - 65px);
        overflow-y: hidden;
    }
    .chart {
        margin-right: 10px;
        overflow-y: hidden;
    }
    .expensesDetail,
    .incomeDetail {
        padding: 10px 0;
    }
    .expensesContainer,
    .incomesContainer {
        margin: 10px;
    }
}