.expensesPage {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex: 1 1 auto;
    padding: 10px 0;
}

.left {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--tertiary-background-color);
}

.left a {
    font-size: 2rem;
    font-weight: 500;
}

.left h1 {
    margin-left: 10px;
}

.chartContainer {
    flex: 1 1 calc(100% - 300px);
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.chartOptions {
    display: flex;
    margin: 0 10px;
}

.chartOptions h1 {
    padding: 0 7px;
    color: var(--secondary-color);
    transition: .3s;
    cursor: pointer;
}

.chartOptions span {
    color: var(--primary-text-color)
}

.chart {
    border-radius: 3px;
    height: calc(100vh - 120px);
    transition: .3s;
    margin: 0 10px;
    margin-right: 0;
    background-color: var(--secondary-background-color);
}

.expensesDetail {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
}

.addExpensesContainer form {
    width: 300px;
}

.expensesContainer,
.incomesContainer {
    border-radius: 3px;
    height: 294px;
    padding: 10px 20px;
    margin: 0 10px;
    margin-top: 4px;
    overflow-y: auto;
    background-color: var(--secondary-background-color);
}

.expenses,
.incomes {
    list-style: none;
    height: 210px;
    overflow-y: auto;
}

.expenses::-webkit-scrollbar,
.incomes::-webkit-scrollbar {
    all: initial;
    background-color: transparent;
    width: 5px;
}

.expenses::-webkit-scrollbar-thumb .incomes::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--primary-color);
}

.expensesContainer h1,
.incomesContainer h1,
.addExpensesContainer form h1 {
    color: var(--secondary-color);
}

.addExpensesContainer {
    border-radius: 3px;
    margin: 0 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    background-color: var(--secondary-background-color);
}

.expenseDetail,
.incomeDetail {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-text-color);
}

.errorMessage {
    color: var(--error-color);
    transition: .3s;
}

@media screen and (max-width: 700px) {
    .main {
        flex-direction: column;
        padding-bottom: 0;
    }
    .addExpensesContainer form {
        width: 100%;
    }
    .chartContainer {
        width: 100%;
        flex: unset;
        height: calc(100vh - 80px);
        overflow-y: hidden;
    }
    .chartOptions span {
        display: block;
    }
    .chart {
        margin-right: 10px;
        overflow-y: hidden;
    }
    .expensesDetail,
    .incomeDetail {
        padding: 10px 0;
    }
    .expensesContainer,
    .incomesContainer {
        margin: 10px;
        margin-bottom: 0;
        height: max-content;
        flex: 1 1 auto;
    }
    .expenses,
    .incomes {
        overflow-y: unset;
        height: max-content;
    }
}