@import url('https://fonts.googleapis.com/css?family=Stick+No+Bills&display=swap');
:root {
    --background-color: #121212;
    --secondary-background-color: #292828;
    --tertiary-background-color: #343434;
    --sidenav-color: #414141;
    --primary-text-color: #ffffff;
    --secondary-text-color: rgba(255, 255, 255, 0.699);
    --primary-color: #00a153;
    --secondary-color: #2bc178;
    --error-color: #ee0000;
    --notification-background-color: #d4edda;
    --notification-text-color: #155724;
    --notification-border-color: #c3e6cb;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-family: 'Stick No Bills', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/*
*::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: var(--primary-color);
}
*/

body::-webkit-scrollbar {
    display: none;
}

label {
    cursor: pointer;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
}

a {
    color: inherit;
    transition: .3s;
    text-underline-offset: 3px;
}

h1 {
    font-weight: 500;
}

h2,
h3 {
    font-weight: 300;
}

nav,
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    transition: unset;
}

nav {
    padding: 20px;
    position: fixed;
    z-index: 999;
    top: 0;
    left: -150%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    transition: .3s;
    background-color: var(--sidenav-color);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav ul li {
    font-size: 2rem;
    margin: 20px 0;
    transition: .3s;
}

#chk {
    display: none;
}

#chk:checked~nav {
    left: 0;
}

.logo {
    justify-content: flex-start;
}

.user {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav span {
    margin-left: 10px;
    transition: .3s;
}

nav li:hover,
.hideSideNav:hover {
    color: var(--secondary-color);
}

.logo a {
    font-size: 2.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    z-index: 2;
    text-decoration: none;
}

.primary-btn {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    margin: 5px;
    padding: 10px 20px;
    border: 3px transparent solid;
    border-radius: 3px;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
    transition: .3s;
}

.primary-btn:hover {
    border: 3px var(--primary-color) solid;
    color: var(--primary-color);
    background-color: transparent;
}

.secondary-btn {
    display: inline-block;
    border: 3px var(--primary-color) solid;
    color: var(--primary-color);
    background-color: transparent;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 3px;
    font-size: 1.25rem;
    cursor: pointer;
    text-decoration: none;
}

.showSideNav {
    font-size: 2.3rem;
    margin-right: 15px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.primary-btn:hover:disabled {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

input,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 1.25rem;
    background-color: transparent;
    color: var(--primary-text-color);
    border: 3px var(--primary-color) solid;
    outline: none;
    resize: vertical;
    transition: .3s;
}

input[type="datetime-local"] {
    color-scheme: dark;
    resize: none;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.image-container {
    position: relative;
}

.hideSideNav {
    font-size: 3rem;
    transition: .3s;
}

.empty-chart {
    border-radius: 3px;
    flex: 1 1 auto;
    transition: .3s;
    margin: 0 10px;
    margin-right: 0;
    position: relative;
    display: grid;
    place-items: center;
    transition: .3s;
    border: 5px solid var(--secondary-background-color);
}

.empty-chart h1 {
    font-size: 1.5rem;
}

.expense,
.income {
    margin: 5px 0;
}

::placeholder {
    color: var(--secondary-text-color);
}

#or {
    text-align: center;
}

.loading-page {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.loading-page h1:last-child {
    font-size: 3rem;
}

.loading-logo {
    font-size: 12rem;
    animation: upAndDown .5s infinite;
    color: var(--primary-color);
}

.loading-page small {
    margin-top: 15px;
    color: var(--secondary-text-color);
}

.avatar {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.avatar p {
    margin-left: 5px;
    font-weight: 500;
    max-width: 10ch;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.avatar img {
    border-radius: 50%;
}

.notification {
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    margin: 10px;
    background-color: var(--notification-background-color);
    color: var(--notification-text-color);
    border-radius: 3px;
    font-size: 1.2rem;
    transition: .3s;
    border: 2px var(--notification-border-color) solid;
}

.notification span {
    margin-left: 10px;
}

@keyframes upAndDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 700px) {
    .logo a {
        font-size: 2rem;
    }
    .empty-chart {
        margin: 0 10px;
    }
}