.homePage {
    position: relative;
    min-height: 100vh;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.homePage a:hover {
    color: var(--secondary-color);
}

.sidenav {
    background-color: var(--sidenav-color);
}

.main {
    display: flex;
    flex: 1 1 auto;
}

.upper {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
}

.upper h1 {
    font-size: 2.3rem;
    color: var(--secondary-color);
}

.upper span {
    margin-left: 10px;
    color: var(--primary-text-color);
}

.left {
    padding: 10px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}

.chartContainer {
    flex: 1 1 calc(100% - 300px);
    position: relative;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.chart {
    border-radius: 0 3px 3px 3px;
    flex: 1 1 auto;
    transition: .3s;
    margin: 0 10px;
    margin-right: 0;
    background-color: var(--secondary-background-color);
    border: 5px solid var(--secondary-background-color);
}

.chartOptions {
    display: flex;
    margin: 0 10px;
}

.chartOptions h1 {
    padding: 7px;
    color: var(--secondary-text-color);
    transition: .3s;
    cursor: pointer;
}

h1.active {
    border-radius: 3px 3px 0 0;
    color: var(--secondary-color);
    background-color: var(--secondary-background-color);
}

.expenseIncome {
    flex: 1 1 400px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.expensesContainer,
.incomesContainer {
    border-radius: 3px;
    min-height: 350px;
    flex: 1 1;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: var(--secondary-background-color);
}

.expensesContainer {
    margin: 10px 0;
}

.expenses,
.incomes {
    list-style: none;
    flex: 1 1;
}

.expensesContainer h1,
.incomesContainer h1 {
    color: var(--secondary-color);
}

.expenseDetail,
.incomeDetail {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-text-color);
}

@media screen and (max-width: 480px) {
    .main,
    .upper {
        flex-direction: column;
    }
    .chartContainer {
        width: 100%;
        flex: unset;
        height: calc(100vh - 155px);
        overflow-y: hidden;
    }
    .chart {
        margin-right: 10px;
    }
    .upper {
        align-items: flex-start;
    }
    .upper h1,
    .left h1 {
        font-size: 2rem;
    }
}