.upper {
    display: flex;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--tertiary-background-color);
}

.editProfileForm {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background-color: var(--secondary-background-color);
}

.editProfileForm input {
    margin: 10px 5px;
}